@model WebApplication2.ViewModel.ProjectAddEditViewModel
@{
    ViewBag.Title = "AddProject";
}

<h2>AddProject</h2>


<form>
    <div class="col-md-6">
        <div class="form-group">
            <label>Customer Name</label>
            <input type="text" id="empName" class="form-control" />
        </div>

        @*<div class="form-group">
            <label>Working company</label>
            <select id="workingCompany" class="form-control">
                <option value="1">Compunnel India</option>
                <option value="2">Compunnel Healthcare</option>
                <option value="3">Logix India</option>
            </select>
        </div>*@
        <div class="form-group">
            <label>Project Name</label>
            <select id="ddlProjectName" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>Project Id</label>
            <select id="ddlProjectId" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label>Start Date</label>
            <input type="date" id="ddlSatartDate" class="form-control">

        </div>
        <div class="form-group">
            <label>End Date</label>
            <input type="date" id="ddlEndDate" class="form-control">

        </div>
        <div class="form-group">
            <label>Project Status</label>
            <select id="ddlProjectStatus" class="form-control">
                <option value="-1">Select Status</option>
                <option value="1">Active</option>
                <option value="2">InActive</option>
            </select>
        </div>
        <div class="form-group">
            <label>LocationGroup </label>
            <select id="ddlLocationGroup" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>State Name </label>
            <select id="ddlStateName" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label>SalesPerson Name </label>
            <select id="ddlSalesPersonName" class="form-control">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Project Category </label>
        <select id="ddlProjectCategory" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Project Type </label>
        <select id="ddlProjectType" class="form-control">
            <option value="-1">Select Project Type</option>
            <option value="0">IT</option>
            <option value="1">Non-IT</option>
            <option value="2">Health Care</option>
        </select>
    </div>
    <div class="form-group">
        <label>Sub Domain </label>
        <select id="ddlSubDomain" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>TimeSheet Representative </label>
        <select id="ddlTimeSheetRepresentative" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Timesheet Type </label>
        <select id="ddlTimesheetType" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Practice Type</label>
        <select id="ddlPracticeType" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Recruiter</label>
        <select id="ddlRecruiter" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Invoice Group</label>
        <select id="ddlInvoiceGroup" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>IsVmsTimeSheet</label>
        <select id="ddlIsVmsTimeSheet" class="form-control">
            <option value="-1"></option>
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
    </div>

    <input type="button" class="btn-primary" value="Save" id="btnSave" />
</form>

@section scripts{

    <script>
$(document).ready(function(){
            BindProjectTypeList();
            $("#btnSave").on("click", function () {
                if (IsValidate()) {
                    SaveData();
                }

            });
        });

        function IsValidate() {
            return true;
        }
        function SaveData() {
            let vm = {
                Name: "",
                StartDate:0,
                Projectstatus: 0,
                EndDate:0,

            };
            vm.Name = $("#empName").val();
            /* vm.CompanyId = $("#workingCompany").val();*/
            /*vm.Projectstatus = $("#ddlProjectStatus").val();*/
            vm.StartDate = $("#ddlSatartDate").val();
            vm.EndDate = $("#ddlEndDate").val();

            console.log(vm);
            $.ajax({
                method: "POST",
                url: "/Project/AddProject",
                dataType: "json",
                data: vm,
                success: function () { },
                error: function () {}
            });
        }

        function BindProjectTypeList() {
            $.ajax({
                method: "GET",
                url: "/Project/GetAppRefDataPrabhu?parentId=1800",
                success: function (data) {
                    console.log(data);

                    //ddlProjectType
                },
                error: function () { }
            })

            @*$.ajax({
            type: "GET",
            url: '@Url.Action("GetAppRefData", "Project")',
            dataType: "json",
            success: function (result) {
                strOption_ProjectStatus = '<option value="-1">All</option>';
                $.each(result, function (i) {
                    if (result[i].KeyID == 1801) {
                        strOption_ProjectStatus = strOption_ProjectStatus + '<option value="' + result[i].KeyID + '" selected>' + result[i].KeyName + '</option>';
                    } else {
                        strOption_ProjectStatus = strOption_ProjectStatus + '<option value="' + result[i].KeyID + '">' + result[i].KeyName + '</option>';
                    }
                });
                $('#ddlProjectStatus').empty().append(strOption_ProjectStatus);
                OnSuccess();
            },
            error: function (errorResult) {
                alert(errorResult);
                return false;
            }
        });*@
        }
    </script>
}