
@{ ViewBag.Title = "DataTable"; }

<h2>Projects List</h2>
<form>
    <div class="form-group col-md-3">
        <label>Project Type </label>
        <select id="ddlProjectType" class="form-control">
        </select>
    </div>
    <div class="form-group col-md-3">
        <label>Practice Type</label>
        <select id="ddlPracticeType" class="form-control">
            <option>Select Practice Type </option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="custName">Search</label>
        <input type="text" id="custName" class="form-control" />

    </div>
    <input type="button" class="btn-primary" value="Submit" id="btnSubmit" />
</form>

<table id="prjList" class="table-bordered table-striped" data-order='[[ 3, "desc" ]]'>
    <thead>
        <tr>
            <th>Customer_Name</th>
            <th>ProjectName</th>
            <th>ProjectId</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>ProjectStatus</th>
            <th>LocationGroup</th>
            <th>StateName</th>
            <th>SalesPersonName</th>
            <th>ProjectCategory</th>
            <th>ProjectType</th>
            <th>SubDomain</th>
            <th>TimeSheetRepresentative</th>
            <th>TimesheetType</th>
            <th>PracticeType</th>
            <th>Recruiter</th>
            <th>InvoiceGroup</th>
            <th>IsVmsTimeSheet</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
      
            $(document).ready(function () {
                BindProjectType();
                BindPracticeType();
            });


            function BindProjectType() {
                $.ajax({
                    method: "GET",
                    url: "/Project/GetProjectType",
                    success: function (data) {
                        console.log(data);
                        $(data).each(function () {
                            $("#ddlProjectType").append($("<option></option>").val(this.keyID).html(this.keyName));
                        });

                    },
                    error: function () { }
                })

            }
        function BindPracticeType() {
            $.ajax({
                method: "GET",
                url: "/Project/GetPracticeType",
                success: function (data) {
                    console.log(data);

                    $(data).each(function () {
                        $("#ddlPracticeType").append($("<option></option>").val(this.keyID).html(this.keyName));
                    });
                },
                error: function () { }
            })
        }


        $(document).ready(function () {
            $("#prjList").DataTable({
                //searching: false,
                ajax: {
                    url: "/ProjectApi/GetProjectList",
                    dataSrc: ""
                },
           

                columns: [

                    {
                        data: "customer_Name"
                    },
                    {
                        data: "project_Name"
                    },
                    {
                        data: "project_Id"

                    },
                    {
                        data: "projectStartDate"
                    },
                    {
                        data: "projectEndDate"
                    },
                    {
                        data: "project_Status"
                    },
                    {
                        data: "locationGroup"
                    },
                    {
                        data: "state_Name"
                    },
                    {
                        data: "salesPersonName"
                    }, {
                        data: "projectCategory"
                    },
                    {
                        data: "project_Type"
                    },
                    {
                        data: "sub_Domain"
                    },
                    {
                        data: "timeSheetRepresentative"
                    },
                    {
                        data: "timesheetType"
                    },
                    {
                        data: "practiceType"
                    },
                    {
                        data: "recruiter"
                    },
                    {
                        data: "invoiceGroup"
                    },
                    {
                        data: "isVmsTimeSheet"
                    },
                    {
                        //edit button creation
                        render: function (data, type, row) {
                            return '<a href="Edit?Id=' + row.project_Id + '">EDIT</a>'
                        }
                    },
                ],
               

            });

            $("#btnSubmit").on("click", function () {

                FindData();
            })

            function FindData()
            {
                let Project = {
                    Project_Type: "",
                    PracticeType: "",
                    Customer_Name: "",
                };
                Project.Project_Type = $("#ddlProjectType").val();
                Project.PracticeType = $("#ddlPracticeType").val();
                Project.Customer_Name = $("#custName").val();


                console.log(Project);
                $.ajax({
                    method: "GET",
                    url: "/ProjectApi/FindProject",
                    data: Project,
                    success: function () { },
                    error: function () { }
                });
                
                

            }
            //var table = $('#prjList').DataTable();

            

            //table
            //    .columns('Customer_Name')
            //    .search('Important')
            //    .draw();


            //$('#custName').on('keyup', function () {
            //    table.search(this.value).draw();
            //});
            //$('#ddlPracticeType').on('change', function () {
            //    table.search(this.value).draw();
            //});
            //$('#ddlProjectType').on('change', function () {
            //    table.search(this.value).draw();
            //});

            //table.columns('.select-filter').every(function () {
            //    var that = this;

            //    // Create the select list and search operation
            //    var select = $('<select />')
            //        .appendTo(
            //            this.footer()
            //        )
            //        .on('change', function () {
            //            that
            //                .search($(this).val())
            //                .draw();
            //        });

            //    // Get the search data for the first column and add to the select list
            //    this
            //        .cache('search')
            //        .sort()
            //        .unique()
            //        .each(function (d) {
            //            select.append($('<option value="' + d + '">' + d + '</option>'));
            //        });
           // });
            
        });
    </script>

}

